@using StudentsHelper.Common
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@{
    string siteURL = configuration["DOMAIN"];
    this.ViewData["Title"] = "Политика за поверителност";
}

@section Css
{
<link rel="stylesheet" href="~/css/style-rules.min.css" asp-append-version="true" />
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="container margin_60_35">
    <h2><span class="font-weight-400">Цел</span></h2>
    <p><span class="font-weight-400">Настоящата Декларация за поверителност е неразривно свързана с Общите условия на сайта </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">. Тя има за цел да обясни на потребителите какви лични данни събираме, обработваме, съхраняваме и споделяме чрез своите онлайн интерфейси и приложения (заедно и поотделно наричани "Сайта"), притежавани и контролирани от "studentshelper.azurewebsites.net" във връзка с предоставянето на услуги. Също така с нея се предоставя информация за правата, които потребителите имат във връзка с обработването на лични данни от Доставчика.</span></p>
    <p><span class="font-weight-400">Сайтът </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400"> е съвместим с GDPR.</span></p>
    <p><span class="font-weight-400">Моля, прочетете този текст внимателно, за да се запознаете с дейността ни. В случай че не разбирате някои аспекти на нашата политика на поверителност, не се колебайте да се свържете с нас на @(GlobalConstants.ContactEmail). Използването на Сайта се регламентира също и от нашите Общи условия.</span></p>
    <h2><span class="font-weight-400">С какво се съгласявате, използвайки нашия Сайт?</span></h2>
    <p><span class="font-weight-400">Моля, имайте предвид, че с предоставянето на лична информация, вие приемате и се съгласявате, че ще събираме, съхраняваме, обработваме и споделяме Вашата лична информация, съгласно тази Декларация за поверителност и Общите ни условия, както и съобразно изискванията на действащото законодателство. Ако не сте съгласни с тези условия, моля, не ни предоставяйте лична информация. Ако откажете да предоставите исканата лична информация или оттеглите съгласието си, вероятно няма да можем да Ви предоставим предлаганите на нашия Сайт услуги.</span></p>
    <h2><span class="font-weight-400">Каква информация събираме?</span></h2>
    <p><span class="font-weight-400">Доставчикът събира данни, за да работи ефективно и да Ви предоставя възможно най-добрата работа с предлаганите от него услуги. Важно е потребителите да са запознати с вида информация, която Доставчикът събира.</span></p>
    <h3><span class="font-weight-400">Обобщени данни</span></h3>
    <p><span class="font-weight-400">Обобщените данни, които Доставчикът събира са данни, чрез които е невъзможно идентифицирането на конкретен потребител. Подобни данни са: часова зона; скорост на връзката на потребителя до сървърите на Доставчика; мрежови данни за връзка и т.н.</span></p>
    <h3><span class="font-weight-400">Лични данни, които събираме</span></h3>
    <p><span class="font-weight-400">Събираме лична информация, когато създавате акаунт, актуализирате или променяте информацията във Вашия профил; купувате услуги; попълвате анкета; абонирате се в Сайта за имейли с актуализации; изпращате ни имейли и/или участвате в други услуги на нашия Сайт. Може да използваме предоставената лична информация с цел да отговорим на Вашите запитвания, да предоставим специфична услуги, които сте избрали; да Ви изпращаме след Ваше изрично съгласие маркетингови съобщения.</span></p>
    <p><span class="font-weight-400">Някои от тези данни предоставяте директно, като например когато създавате акаунт в </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400"> или свързвате се с нас за поддръжка.</span></p>
    <p><span class="font-weight-400">Част от личните данни получаваме чрез записване на Вашите дейности, свързани с използването на предоставяните от нас услуги с помощта на технологии като бисквитки. Вие имате възможност да контролирате как и дали бисквитките ще бъдат приети от Вашия браузър. Повечето браузъри предлагат инструкции как да забраните използването на бисквитки. Това се намира в лентата с инструменти, в секция "Помощ". Ако забраните използването на бисквитки, много от функциите и удобствата на Сайта може да не работят правилно.</span></p>
    <p><span class="font-weight-400">Също така получаваме данни от трети лица. Защитаваме данните, получени от трети лица, според практиките, описани в настоящата декларация, както и всички допълнително наложени ограничения, наложени от източника на данните. Тези източници варират в течение на времето, но включват:</span></p>
    <ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Социални мрежи - когато използвате съществуващ Ваш акаунт от социална мрежа;</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчици на услуги, които ни помагат за определяне местоположението на Вашия IP адрес;</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Партньори, с които предлагаме съвместни услуги или сме ангажирани в съвместни маркетингови дейности;</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">И други.</span></li>
    </ul>
    <p><span class="font-weight-400">Когато от Вас бъде поискано да предоставите лични данни, можете да откажете. В случай, че изберете да не подадете необходимите данни за предоставянето на услуга, използването на тази услуга може да бъде невъзможно.</span></p>
    <p><span class="font-weight-400">Данните, които събираме, зависят от услугите, които използвате.</span></p>
    <h3><span class="font-weight-400">Данните, които събираме, може да включват следното:</span></h3>
    <ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Име и данни за контакт- събираме Вашите имена, имейл адрес, телефон, адрес и други подобни данни за контакт;</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Идентификационни данни – събираме Вашата парола и потребителско име/имейл адрес за защита, използвана за удостоверяване и достъп до акаунта Ви;</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Демографски данни – събираме данни за Вас, като например възраст, пол, страна и предпочитан език;</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Данни за местоположението – данните за Вашето местоположение, включват местоположение, получено от Вашия IP адрес или данни, които показват къде се намирате, като например посочен от или свързан с Вас физически адрес;</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Данни за устройството – събираме и използваме данни за устройството, с което имате достъп и използвате нашите продукти и услуги, включително информация, която вашият браузър или мобилното приложение изпраща, когато го използвате. Тези данни могат да включват вашия уникален идентификатор на устройство, IP адрес, вид и конфигурация на вашия браузър, дата и час на използването на продукта или услугата, езикови предпочитания и данни за бисквитки.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Разплащателни данни - предоставяме Ви възможност да заплащате нашите услуги с дебитни и кредитни карти чрез доставчик на разплащателни услуги. Моля, имайте предвид, че само доставчикът на разплащателни услуги събира и обработва пълната информация от Вашите дебитни и кредитни карти.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Съдържание – при необходимост събираме съдържание от Вашите файлове и комуникации с цел да Ви предоставим услугите, които сте заявили.&nbsp;</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Също така събираме информация, която ни предоставяте и съдържанието на съобщенията, които ни изпращате, като например обратна връзка, различни въпроси и допълнителна информация. Когато се свързвате с нас, телефонните разговори и email съобщенията може да се наблюдават или записват.</span></li>
    </ul>
    <h2><span class="font-weight-400">Как и защо обработваме лични данни?</span></h2>
    <p><span class="font-weight-400">Доставчикът събира лични данни на потребителите по различни начини. В повечето случаи получаваме информацията директно от потребителите при и по повод предоставянето на услуги.</span></p>
    <p><span class="font-weight-400">Събирането на лични данни се извършва:</span></p>
    <ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">При регистрация на потребител на сайта</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">При изпълнение на преддоговорните и договорни споразумения</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">При или по повод изпълнение, изменение, допълване или прекратяване използването на услуга (при изпълнение на заявки от потребители, при осъществяване на клиентско обслужване и др.)</span></li>
    </ul>
    <p><span class="font-weight-400">Събирането на лични данни се извършва с цел:</span></p>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Обработка на данни, необходима за предоставяне и подобряване на предлаганите услуги:</span></li>
        <ul>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме данни на потребителите и на клиентите, за да осигурим, че предоставяните услуги съответстват на сключените договори;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме данни на потребителите и на клиентите, за да може да им предоставяме договорените услуги;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме данни на потребителите и на клиентите за целите на обслужването на нашите клиенти с оглед предоставянето на договорените услуги, включително за целите на идентифициране (както и физическо такова) на всеки един потребител от страна на нашите клиенти за нормалното извършване на тяхната търговска дейност.</span></li>
        </ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">С цел изпълнение на нормативни задължения:</span></li>
        <ul>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме лични данни, когато съгласно приложимото законодателство сме длъжни да предоставяме информация на компетентни органи;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме данни на потребителите, когато сме длъжни да оказваме съдействие на компетентни държавни и/или общински органи при извършване на проверки от тях;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме данни на потребителите, за да изпълняваме задължения, произтичащи от счетоводното и данъчно законодателство.</span></li>
        </ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Обработка на данни, необходима за защита интересите на Доставчика:</span></li>
        <ul>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме лични данни при извършване на вътрешни анализи с цел подобряване на услугите, предлагани от Доставчика, както и за разработване на нови такива;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме лични данни на потребителите с цел проучване на удовлетвореността на потребителите от услугите на Доставчика;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме лични данни на потребителите при осъществяване на маркетингови кампании, след изричното съгласие на потребителя да бъде включен в такива инициативи;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработване на лични данни, когато това е необходимо за уреждане на правни спорове;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Обработваме лични данни ако счетем за необходимо, при разследване, защита или предприемане на действия във връзка с незаконни или подозирани за незаконни дейности; при защита и отстояване на правата, собствеността или сигурността на Доставчика.</span></li>
        </ul>
    </ol>
    <h2><span class="font-weight-400">С кого и при какви условия споделяме Вашата лична информация?</span></h2>
    <p><span class="font-weight-400">Споделяме личните Ви данни с Ваше съгласие или според необходимостта за предоставяне на услуга с:</span></p>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Обработващи лични данни - обработващите лични данни са лица, които обработват подадените от Вас лични данни от името на Доставчика въз основа на сключено споразумение. Те нямат право да обработват лични данни за цели различни от изпълнението на работата, която им е възложена от Доставчика. Такива са счетоводни къщи или други доставчици на консултантски услуги.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Клиенти на Доставчика - Ние използваме информация на потребителите от името и под инструкцията на нашите клиенти, с които потребителите имат взаимоотношения по повод оказването им на услуги от клиентите и които в тази връзка администрират лични и други данни на потребители. Ние използваме и споделяме информацията в съответствие с нашето споразумение с нашите клиенти, за да работим, поддържаме и предоставяме характеристиките и функционалността на продуктите и услугите. Нашите клиенти имат правото и ангажимента да определят допълнително как се използва информацията на потребителите съобразно отношенията си със съответните потребители.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Партньори на Доставчика – за да може да предоставя определени услуги на своите потребители, Доставчикът сключва договори с трети лица (партньори). Във връзка с предоставяне на съответните услуги понякога е необходимо на съответните партньори да бъдат предоставени лични данни на потребителите.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Банки и платежни институции - във връзка с обслужването на плащания на потребителите, извършени по банков пък или чрез платежна институция, е необходимо да се осъществи обмен на данни между Доставчика и съответната банкова или платежно институция.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Компетентни органи във връзка с изпълнение на нормативни задължения.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Трети лица във връзка с преобразуване, сливане или прехвърляне на дялове.</span></li>
    </ol>
    <h2><span class="font-weight-400">Външни връзки</span></h2>
    <p><span class="font-weight-400">За Ваше удобство, може да Ви предоставим линкове към сайтове, които се поддържат от други организации освен Доставчика ("Трети страни"). Ние не предоставяме Ваша лична информация на Третите страни, без да имаме Вашето изрично съгласие. Не приемаме и не сме отговорни за декларациите за поверителност на Третите страни. Ако изберете да кликнете на линк към страница на Трета страна, е добре да се запознаете с декларацията им за поверителност и да проверите как Третата страна ще събира и използва Вашата лична информация.</span></p>
    <h2><span class="font-weight-400">Поверителност и сигурност на личната информация</span></h2>
    <p><span class="font-weight-400">За нас поверителността и сигурността на Вашата информация е от първостепенно значение. Ние използваме стандартни за индустрията физически, технически и административни мерки за сигурност, които осигуряват поверителността и сигурността на Вашата лична информация, която ние няма да споделяме с трети лица освен в случаите, посочени в тази декларация или когато сме убедени, че подобно споделяне е необходимо в специални случаи, като предотвратяване на злоупотреба или злонамерени действия.</span></p>
    <p><span class="font-weight-400">Цялата информация, която обменяте със Сайта, е криптирана и се осъществява по SSL протокол, като всяка уеб-страница в системата е достъпна само през </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">. Въпреки това, Ваше задължение е да пазите сигурността на своите данни за вход.</span></p>
    <h2><span class="font-weight-400">Съхраняване, актуализиране или изтриване на личната Ви информация</span></h2>
    <p><span class="font-weight-400">Доставчикът съхранява личните данни на потребителите толкова дълго, колкото е необходимо, за да бъдат постигнати целите, посочени в тази Декларация за поверителност на личните данни, или да бъдат спазени изисквания на законодателството.</span></p>
    <p><span class="font-weight-400">С оглед изпълнение на задълженията ни, произтичащи от данъчното и счетоводното законодателство, данни за даден потребител се съхраняват за период от 11 години, считано от прекратяване на последния негов договор. След изтичане на сроковете за обработка на лични данни, същите са анонимизират или се изтриват/унищожават, освен ако:</span></p>
    <ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Съответния потребител е упражнил правото си да поиска ограничаване на обработването на лични данни, отнасящи се за него</span></li>
    </ul>
    <p><span class="font-weight-400">Потребителите имат достъп до личната си информация и могат да я потвърдят, че е вярна и актуална, както и да изберат дали да получават или не материали от нас или наши партньори, чрез нашия Сайт като посетят потребителския си профил. Също така могат да се свържат с нас на </span><span class="font-weight-400">@GlobalConstants.ContactEmail</span><span class="font-weight-400">. Стремим се да отговаряме своевременно на всеки имейл, но има вероятност това не винаги да бъде възможно.Имайте предвид, че съхраняваме остатъчна информация в наши бази данни, резервни копия, регистри за достъп и други масиви, която информация може да съдържа или не Ваши лични данни.</span></p>
    <p><span class="font-weight-400">Ако имате въпроси, свързани с поверителността, нерешени проблеми или оплаквания, можете да ни пишете на </span><span class="font-weight-400">@GlobalConstants.ContactEmail</span><span class="font-weight-400">.</span></p>
    <h2><span class="font-weight-400">Вашите права</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителите имат право на достъп до личните данни, отнасящи се към тях:</span></li>
        <ul>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Потребителите имат право да получат от Доставчика информация дали се обработват лични данни, свързани с тях. Ако това е така, потребителите имат право да получат достъп до съответните данни.</span></li>
        </ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителите имат право да коригират подадените от тях лични данни, когато същите са неточни или неактуални:</span></li>
        <ul>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">В случай че обработваните от Доставчика лични данни са неточни или неактуални, потребителите имат право да ги коригират и актуализират.</span></li>
        </ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">В определени случаи потребителите имат право да изискват изтриване на лични данни, когато:</span></li>
        <ul>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Личните данни повече не са необходими за целите, за които са били събирани или обработвани;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Потребителят е оттеглил своето съгласие за обработване на лични данни и няма друго правно основание за обработването на същите;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Потребителят има право да оттегли своето съгласие за обработване на личните му данни с цел маркетинг, но това може да ограничи, правото му да използва услугите предоставяни от Доставчика.</span></li>
        </ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителят има право на преносимост на лични данни:</span></li>
        <ul>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Потребителите имат право да получат от Доставчика личните данните, които са предоставени от тях (например данните, които се предоставят при извършване на регистрация), в организиран, подреден, структуриран, общоприет електронен формат (например в .json формат).</span></li>
        </ul>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Право на жалба</span></li>
        <ul>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Ако потребител сметне, че Доставчикът нарушава приложимата нормативна уредба е препоръчително първоначално да сигнализира на Доставчика. Ако не бъдат предприети адекватни мерки от страна на Доставчика, потребителят има право да подаде жалба пред Комисията за защита на личните данни и пред регулаторен орган в рамките на ЕС.</span></li>
        </ul>
    </ol>
    <p><span class="font-weight-400">Всеки потребител може да се възползва от правата си като се свърже с Доставчика на посочения имейл: </span><span class="font-weight-400">@GlobalConstants.ContactEmail</span><span class="font-weight-400">.</span></p>
    <h2><span class="font-weight-400">Данни за малолетни и непълнолетни лица</span></h2>
    <p><span class="font-weight-400">Ние сме безусловно убедени в защитата на личните данни на малолетни и непълнолетни лица. Във връзка с това приемаме, че Вашите родители или настойници, изрично са Ви дали съгласие да използвате нашите продукти и услуги. Ако сте малолетно или непълнолетно лице, моля, задължително обсъдете своето намерение да използвате нашите услуги със своите родители или настойници. Ние ще предприеме необходимите мерки за заличаване на лична информация за малолетно или непълнолетно лице, която е била предоставена на нашия Сайт без удостоверено съгласие на родител или настойник, в момента, в който разберем за съществуването на такава лична информация.</span></p>
    <h2><span class="font-weight-400">Промени в Декларацията за поверителността</span></h2>
    <p><span class="font-weight-400">Имайте предвид, че ние регулярно преглеждаме нашите практики във връзка с поверителността и те могат да бъдат променяни. Всяка промяна, допълнение или изменение, ще влиза в сила веднага след публикуването й на Сайта като сменим актуалната дата на този документ (намираща се в края на тази страница). Не забравяйте периодично да проверявате тази страница, с цел да сте запознати с актуалната версия на Декларацията ни за поверителност.</span></p>
    <p class="text-right"><span class="font-weight-400">Последна промяна: 11 февруари 2022 г.</span></p>
</div>
