@using StudentsHelper.Common
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@{
    string siteURL = configuration["DOMAIN"];
    this.ViewData["Title"] = "Общи условия";
}

@section Css
{
<link rel="stylesheet" href="~/css/style-rules.min.css" asp-append-version="true" />
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="container margin_60_35">
    <h2><span class="font-weight-400">I. Дефиниции</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">По смисъла на тези Общи условия, ако изрично не е посочено друго в тях, </span><span class="font-weight-400">ще бъдат дефинирани както следва</span><span class="font-weight-400">:</span></li>
        <ol>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">“Потребител“ е физическо или юридическо лице, което използва услугите на системата </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">, с или без регистрация.</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">“Платформата“ или “studentshelper.azurewebsites.net” е онлайн системата </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">.</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">“Потребителски профил” е e-mail адрес и парола, с които потребителят се регистрира и има достъп до платформата studentshelper.azurewebsites.net</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">“Услуга” </span><span class="font-weight-400">е</span><span class="font-weight-400"> предоставянето на онлайн курс, обучение, обучителна програма, видео, онлайн книга, софтуер, семинар или друга услуга, качена и достъпна в платформата </span><span class="font-weight-400">studentshelper.azurewebsites.net, със или без заплащане.</span></li>
        </ol>
    </ol>
    <h2><span class="font-weight-400">II. Данни за доставчика</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Данни за кореспонденция:&nbsp;</span></li>
        <ol>
            <li class="font-weight-400" aria-level="3"><span class="font-weight-400">E-mail адрес: </span><a href="mailto:@GlobalConstants.ContactEmail"><span class="font-weight-400">@GlobalConstants.ContactEmail</span></a></li>
            <li class="font-weight-400" aria-level="3"><span class="font-weight-400">Facebook страница: </span><a href="https://www.facebook.com/Students-Helper-109858771554319" target="_blank" rel="noopener"><span class="font-weight-400">fb.com/StudentsHelper</span></a></li>
        </ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Надзорни органи:</span></li>
    </ol>
    <h2><span class="font-weight-400">III. Приложимост и изменение на общите условия</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Използването на Платформата предполага безусловното приемане на всички посочени от Доставчика условия и правила за използване на Платформата. Ако Потребителят не е съгласен с някое от тези условията и правилата за използване на Платформата, той има право да се въздържа от използването ѝ. При посещение в Платформата или регистрацията си в Платформата, с натискането на бутон “Регистрирай се“, “Изпрати” или друго изявление или действие в смисъл на съгласие, Потребителят декларира, че е запознат с тези общи условия, съгласен е с тяхното съдържание и се задължава безусловно да ги спазва.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Настоящите Общи условия могат да бъдат изменяни по преценка на Доставчика. Доставчикът следва да информира Потребителя в срок от 7 (седем) дни след тяхното изменение. Измененията влизат в сила и ще бъдат обвързващи за Потребителя, освен ако последният изрично не възрази в рамките на 5 (пет) работни дни. </span><span class="font-weight-400">Потребителят не може да отхвърли новите Общи условия в случаите, когато изменението в тях е вследствие на разпореждане или указание на компетентен орган на власт.</span></li>
    </ol>
    <h2><span class="font-weight-400">IV. Регистрация и записване на курс</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителят има достъп до общите условия за ползване на Платформата по всяко едно време, чрез линк в долната част на сайта</span><span class="font-weight-400">. </span><span class="font-weight-400">Преди или по време на регистрация, Потребителят е длъжен да се съгласи с общите условия на платформата, за да завърши успешно регистрацията.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">За да се регистрира на Платформата, Потребителят е длъжен да предостави email адрес, парола и съгласие с Общите условия на Платформата.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">След успешна регистрация, Потребителят може да избере курс или услуга от Платформата и да извърши плащане на посочената за този курс или услуга цена.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчикът си запазва правото да поиска допълнителна информация за Потребителя, преди да предостави достъп до Услугата.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчикът предоставя право на достъп на Потребителя до заплатения от него курс, веднага след успешна обработка на плащането. Плащането се счита за извършено в деня, в който банкова сметка на Доставчика е заверена с пълния размер на цената на избрания от Потребителя курс или по-рано, ако Доставчикът има начин да верифицира направеното плащане.</span></li>
    </ol>
    <h2><span class="font-weight-400">V. Цени и плащания</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Всеки курс или услуга може да има различна цена, която е упомената на съответната страница на курса или услугата.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Всички цени на посочени в Платформата са крайни, обявени са в лева (BGN) с включено ДДС и всички други изисквани по закон данъци или такси.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчикът си запазва правото да предоставя различна цена според профила на Потребителя и по своя преценка за един и същ курс или услуга, включително и под формата на намаления.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчикът си запазва правото да пуска безплатни курсове или услуги, включително и такива, които преди това са били платени.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Платформата използва на SSL протокол за криптиране на връзката между сървъра на Услугата и платежната страница на обслужващите услуги за онлайн плащания.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Автентичността на карта за плащане се проверява чрез въвеждането на код за сигурност (CVV2).</span></li>
    </ol>
    <h2><span class="font-weight-400">VI. Права и задължения на Потребителя</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителят е длъжен да използва услугата и регистрацията си лично и не може да прехвърля правото си на ползване на Услугата на трети лица.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">При използването на Платформата, Потребителят гарантира и се съгласява, че никакви материали от какъвто и да е вид, изпратени чрез неговия профил или по друг начин, публикувани, предавани или споделяни от Потребителите на или чрез Услугата, ще нарушат или нарушават правата на трета страна, авторски права, търговска марка, поверителност, публичност или други лични или частни права; или съдържат клеветнически или по друг начин незаконни материали.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителят се съгласява и декларира, че няма да използва Услугата, за :</span></li>
        <ol>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Публикуване на съдържание или иницииране на незаконни, клеветнически, злоумишлени, неприлични, дискриминационни, инвазивни и неприкосновени лични или публични съобщения, омраза или расова, етническа или друга нежелателна;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Качване, публикуване, изпращане по имейл, предаване или по друг начин предоставяне на нежелани или неоторизирани реклами, промоционални материали, "нежелана поща", "спам", "верижни писма", "пирамидални схеми" или друга форма на привличане;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Събиране на имейл адреси или друга информация за връзка с други потребители от Услугата по електронен или друг начин с цел изпращане на нежелани имейли или други нежелани съобщения;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Използване на Услугата по някакъв незаконен начин или по какъвто и да е друг начин, който би могъл да увреди, забрани, забави, претовари или наруши Услугата или Доставчика;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Неправилно деклариране, представяне по друг начин на самоличността на Потребителя, включително, но без да се ограничава до използването на псевдоним, качване, публикуване, предаване, споделяне, съхраняване или по друг начин публично предоставяне на Платформа на лична информация на трета страна, ограничения, адреси, телефонни номера, имейл адреси, номера на социално осигуряване и номера на кредитни карти;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Качване, публикуване, предаване, споделяне или по друг начин предоставяне на материали, които съдържат софтуерни вируси или друг компютърен код, файлове или програми, предназначени да прекъсват, унищожават или ограничават функционалността на всеки компютърен софтуер или хардуер или телекомуникационно оборудване;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Сплашване или друг вид тормоз;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Публикуване, променяне, разпространяване или възпроизвеждане по какъвто и да е начин всички материали, търговски марки или друга собствена информация, принадлежащи на други лица, без да получат предварителното писмено съгласие на собственика на такива права.</span></li>
        </ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителят признава глобалния характер на интернет и се съгласява да спазва всички приложими местни правила, включително, но не само правилата за онлайн поведение и приемливо съдържание. По-конкретно, Потребителят се съгласява да спазва всички приложими закони относно предаването на данни.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителят се задължава да не използва Платформата по автоматизиран начин, чрез скриптове и софтуерни програми, различни от популярните уеб браузъри.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Освен ако изрично не е разрешено друго, потребителят няма право да използва предоставените му изображения, видео и аудио файлове освен през Платформата. Не е разрешено на потребителя да сваля, препраща, разпространява и възпроизвежда изображенията, видео и аудио файловете предоставени му от Платформата.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">В случай на искове на трети лица срещу Доставчика срещу действия на Потребителя, Потребителят е длъжен да понесе всички правни, административни и други разходи, свързани с тези искове.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">В случай на неизпълнение от страна на Потребителя на горните разпоредби, Доставчикът има право да прекрати достъпа до Услугата незабавно.</span></li>
    </ol>
    <h2><span class="font-weight-400">VII. Права и задължения на Доставчика</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчикът се задължава да поддържа пълната функционалност на уеб базираната система </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400"> и да изпълнява всички изисквания на приложимото право в своите операции.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчикът не носи отговорност за:</span></li>
        <ol>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Всякакви проблеми и/или прекъсвания на функционирането на </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">, които се дължат на причини извън неговия контрол;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Функционирането на </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">, ако Потребителят не е спазил техническите изисквания за инсталиране и работа на компютърните системи или изискванията.</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Наличността, съдържанието, автентичността или сигурността на външни уебсайтове или други източници на информация;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Действия, небрежност или пропуски от страна на трети страни, включително, но не само: доставчици на телекомуникации, компютърни и интернет услуги, подизпълнители или за грешки или пропуски на техните устройства, оборудване или системи;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Всяко съдържание, публикувано на платформата </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">. Потребителят е единствено отговорен за профилите, коментарите, съобщенията, бележките, текста, документите, презентациите, видеоклиповете, списъците и друго съдържание, които качва, публикува или показва на или чрез Услугата или предава или споделя с други потребители;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">За всякакви претенции на трети страни по отношение на съдържанието, публикувано от потребителите на платформата </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">;</span></li>
            <li class="font-weight-400" aria-level="2"><span class="font-weight-400">Създаване на резервни копия и замяна на всяко потребителско съдържание, публикувано или съхранено на </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400"> или предоставено на платформата </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400"> след изтичане на 3 месеца от прекратяването на достъп до платформата. Доставчикът има право да направи такива копия по искане на Потребителя. Доставчикът не претендира за собственост върху потребителското съдържание на платформата </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">.</span></li>
        </ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчикът има право да изтрие или премахне (без предизвестие на Потребителя) всяко съдържание на платформата </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400"> по свое усмотрение по каквато и да е причина или без причина, включително без ограничение съдържание, което по преценка на Доставчика нарушава Общите Условия или което може да бъде обидно, незаконно или да наруши правата, да навреди или да застраши безопасността на потребителите или други.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Независимо от горното, отговорността на Доставчика, на Потребителя или на трето лице за загуба, щета, разходи или разноски по каквато и да е причина и независимо от формата на преследваното съдебно действие независимо от това дали случаят се отнася до договорни или извъндоговорната отговорност, в случай на небрежност или не, във всички случаи не надвишава цената на такса за обучението, курса или услугата.</span></li>
    </ol>
    <h2><span class="font-weight-400">VIII. Интелектуална собственост</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Всички права върху интелектуална собственост (включително правата върху търговските марки, авторските права, базите данни и т.н.) на Доставчика или Услугата и нейните съставни части (включително, но не само: аудио и видео материали, курсове, презентации, документи, текстове, подредба и имена на лекции, софтуер, документация, дизайн, лицензионни кодове, файлове и други материали, всички актуализации, изменения, решения, постигнати в хода на работа) или съдържащи се в или свързани с уеб сайтове на Доставчика и услугата, са изключителна собственост на Доставчика.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителят няма право да извършва каквито и да е действия по възпроизвеждане (освен за лично ползване), промяна, адаптиране, разпространение, публикуване, предаване (по електронен път или по друг начин), представяне, прехвърляне на сървър или друго електронно устройство, разпространяване чрез радиосигнал, публикуваните материали от Услугите и Платформите на Доставчика и/или свързани с курсовете и услугите предоставяни в </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">, включително текст, видео, аудио, графики, компилации, компютърни програми, код и/или софтуер по какъвто и да е начин или във всякаква форма без изричното предварително писмено съгласие на Доставчика.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Освен ако няма изрично разрешение от Доставчика, Потребителят не може да предоставя и/или показва и/или продава на трети лица видео, аудио, текстови или други файлове на продуктите и услугите, предмет на настоящите Общи условия или да извършват каквито и да е други действия, които нарушават или допринасят за нарушаване на правата върху интелектуалната собственост на Доставчика.</span></li>
    </ol>
    <h2><span class="font-weight-400">IX. Защита на личните данни</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">При регистрация или използване на Платформата, Потребителят дава изричното си съгласие, че Доставчикът може да обработва всички данни или информация, включително предоставени от Потребителя лични данни, по начин, който сметне за необходим за целите на предоставянето на Услугата.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Потребителят и Доставчикът се ангажират и гарантират, че всички лични данни на Потребителя или на трети лица, предмет на използването на </span><a href="../../"><span class="font-weight-400">@siteURL</span></a><span class="font-weight-400">, ще бъдат обработвани само до степента, необходима за предоставяне и подобряване на Услугата в съответствие с разпоредбите на Закона за защита на данните.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Работата с личните данни са уредени в </span><a href="../../Home/Privacy"><span class="font-weight-400">Политиката за поверителност</span></a><span class="font-weight-400"> на Платформата, които са неразделна част от тези общи условия за използване на Услугата.</span></li>
    </ol>
    <h2><span class="font-weight-400">X. Кореспонденция</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Всички съобщения засягащи Потребителите, се предават в писмена форма по електронен път чрез имейл съобщения на посочените адреси в платформата в страница - “Контакти” и посоченият в секция II от настоящите общи условия.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Доставчикът и Потребителят считат за поверителна цялата информация, обменяна между тях във връзка с използването на платформата (включително и кореспонденцията между тях) и са длъжни да обработват такава информация добросъвестно. Страните са длъжни да пазят такава информация поверително и да се въздържат от действия, които биха нарушили или навредили на тяхната репутация и интереси.</span></li>
    </ol>
    <h2><span class="font-weight-400">XI. Заключителни разпоредби</span></h2>
    <ol>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">Настоящите Общи условия и всички отношения между страните се тълкуват съгласно законите на Република България.</span></li>
        <li class="font-weight-400" aria-level="1"><span class="font-weight-400">При възникването на въпроси или коментари във връзка с настоящите Общи условия, може да се свържете с отговарящите лица на </span><a href="mailto:@GlobalConstants.ContactEmail"><span class="font-weight-400">@GlobalConstants.ContactEmail</span></a><span class="font-weight-400">.</span></li>
    </ol>
    <p class="text-right"><span class="font-weight-400">Последна промяна: 11 февруари 2022 г.</span></p>
</div>