@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

@section Css {
<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
}

<div class="auth-form register-page">
    <button id="past-part" class="btn btn-primary float-left hidden">
        <img class="img-fluid" src="~/img/back.png" />
    </button>
    <div class="row">
        <div class="col-md-12">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <h1 class="form-header">@ViewData["Title"]</h1>
                <h4>Регистрирайте се в системата на @StudentsHelper.Common.GlobalConstants.SystemName</h4>
                <hr />
                <div id="allErrorsList" asp-validation-summary="All" class="text-danger"></div>
                <div id="part-1" class="part">
                    <input asp-for="Input.Role" type="hidden" />
                    <h4>Аз съм:</h4>
                    <div class="row text-center justify-content-center mb-0 ">
                        <div class="col-12 col-md-10 col-xl-8 d-flex justify-content-center">
                            <div class="row d-flex flex-column flex-sm-row kind-row pt-1 pt-md-2">
                                <div class="col user-kind-col">
                                    <img class="role img-thumbnail" userRole=@GlobalConstants.StudentRoleName src="~/img/roles/student_male.png" />
                                    <p class="kind-title">Ученик</p>
                                </div>
                                <div class="col user-kind-col">
                                    <img class="role img-thumbnail" userRole=@GlobalConstants.TeacherRoleName src="~/img/roles/teacher_male.png" />
                                    <p class="kind-title">Учител</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="part-2" class="part hidden">
                    <div class="form-group">
                        <label asp-for="Input.Name"></label>
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div id="part-3" class="part hidden">
                    <h4>Къде преподавате?</h4>
                    <div class="form-group">
                        <label>Област:</label>
                        <select name="regions" class="form-control"></select>
                    </div>
                    <div class="form-group hidden">
                        <label>Община:</label>
                        <select name="townships" class="form-control"></select>
                    </div>
                    <div class="form-group hidden">
                        <label>Населено място:</label>
                        <select name="populatedAreas" class="form-control"></select>
                    </div>
                    <div class="form-group hidden">
                        <label>Училище:</label>
                        <select asp-for="Input.TeacherModel.SchoolId" id="SchoolId" class="form-control"></select>
                        <span asp-validation-for="Input.TeacherModel.SchoolId" class="text-danger"></span>
                    </div>
                </div>
                <div id="part-4" class="part hidden">
                    <div class="form-group">
                        <label asp-for="Input.TeacherModel.QualificationDocument"></label>
                        <br />
                        <label class="text-muted">Диплома или друг документ, потвърждаващ педагогическа правоспособност</label>
                        <input asp-for="Input.TeacherModel.QualificationDocument" class="form-control" />
                        <span asp-validation-for="Input.TeacherModel.QualificationDocument" class="text-danger"></span>
                    </div>
                </div>

                <button id="register-submit" type="submit" class="btn btn-primary hidden">Регистрация</button>
                <button id="continue" class="btn btn-primary hidden">Продължи</button>
            </form>
            <section id="second-auth-option" class="hidden">
                <h4>или чрез</h4>
                <hr />
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                if (@provider.Name == "Facebook")
                                {
                                    <input id="second-auth-option-userRole" name="userRole" type="hidden" />

                                    <button type="submit" class="auth-type-button" name="provider" value="@provider.Name" title="Влез чрез @provider.DisplayName account">
                                        <img class="auth-type-image" src="~/img/facebook.png" alt="@provider.DisplayName" />
                                        @provider.Name
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            }
                        </p>
                    </div>
                </form>
            </section>
            <p class="more-options">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Вече имате акаунт?</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/Auth/register.js"></script>
}