@using StudentsHelper.Common

@model IEnumerable<StudentsHelper.Services.Data.Ratings.Models.TeacherWithRating>

@{
    ViewData["Title"] = "Учители";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row col-md-10 offset-md-1 p-2 mb-2" style="box-shadow: 0 1px 3px 0 rgb(0 0 0 / 1%), 0 1px 3px 0 rgb(0 0 0 / 1%), 0 1px 3px 0 rgb(0 0 0 / 22%);">
            <div class="position-relative">
                <img src=@(item.ApplicationUserPicturePath ?? GlobalConstants.NoProfilePicturePath) class="img-fluid ml-3 rounded" style="width: 50px; height: 50px;" />
                <div style="position: absolute;top: 31px;left: 47px;background-color: white;border-radius: 13px;padding: 2px;">
                    <div style="
                    width: 13px;
                    height: 13px;
                    background-color: @(item.IsActive ? "#55CA36" : "#D6D7DC");
                    border-radius: 13px;"></div>
                </div>
            </div>
            <p class="col-md-4 m-auto">
                @item.ApplicationUserName
            </p>
            <p class="col-md-2 m-auto">
                @item.HourWage лв/час
            </p>
            <p class="col-md-1 m-auto pr-0">
                @item.AverageRating <img class="mb-1" src="~/img/star.png">
            </p>
            <a asp-area="" asp-controller="Teachers" asp-action="Details" asp-route-teacherId="@item.Id" class="col-md-2 m-auto btn btn-info">
                Детайли
            </a>
        </div>
    }
</div>

