@using Microsoft.AspNetCore.Http.Extensions
@using StudentsHelper.Common
@using StudentsHelper.Services.BusinessLogic.QueryStringUpdater
@using StudentsHelper.Web.ViewModels.Teachers
@using StudentsHelper.Services.Data.Ratings.Models
@inject IQueryStringUpdatingService queryStringUpdater

@model TeachersOfSubjectType<TeacherWithRating>

@{
    ViewData["Title"] = $"Учители по {Model.SubjectName}";

    const string sortImgName = "sort.png";
    const string ascendingSortImgName = "ascending-sort.png";
    const string descendingSortImgName = "descending-sort.png";

    string currentSortBy = Context.Request.Query["sortBy"].FirstOrDefault();
    bool isAscending = bool.Parse(Context.Request.Query["isAscending"].FirstOrDefault() ?? "true");

    string currentUrl = Context.Request.GetDisplayUrl();

    Func<string, bool, string> getUpdatedQueryString = (newSortBy, isAscending)
        => queryStringUpdater.UpdateSortByParameter(
            currentUrl,
            newSortBy,
            isAscending);

    Func<string, (string OrderImg, bool IsAscending)> getOrderByTypeInfo = (type) =>
    {
        bool isAscendingForCurrent = true;
        string orderImg = sortImgName;
        if (currentSortBy == type)
        {
            isAscendingForCurrent = !isAscending;
            orderImg = isAscendingForCurrent ? ascendingSortImgName : descendingSortImgName;
        }

        return (orderImg, isAscendingForCurrent);
    };
}

@section Css
{
<link rel="stylesheet" href="~/css/notMinifiable.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/allTeachers.min.css" asp-append-version="true" />
}

<h1 class="mt-3 text-center">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-3">
        <form class="justify-content-center">
            <input type="hidden" name="subjectId" value=@Model.SubjectId />
            <div class="form-group">
                <label>Област:</label>
                <select name="regionId" class="form-control">
                </select>
            </div>
            <div class="form-group hidden">
                <label>Община:</label>
                <select name="townshipId" class="form-control">
                    <option value="0">Община</option>
                </select>
            </div>
            <div class="form-group hidden">
                <label>Населено място:</label>
                <select name="populatedAreaId" class="form-control">
                    <option value="0">Населено място</option>
                </select>
            </div>
            <div class="form-group hidden">
                <label>Училище:</label>
                <select name="schoolId" class="form-control">
                    <option value="0">Училище</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Търси</button>
        </form>
    </div>
    <div class="col-md-8 container mt-3">
        <div class="background-container mb-2 pt-1 row">
            <div class="col-1 mr-2"></div>
            @{
                var nameSortTypeInfo = getOrderByTypeInfo("name");
            }
            <a href="@getUpdatedQueryString("name", nameSortTypeInfo.IsAscending)" class="col-4 mb-auto ml-4 mt-auto text-decoration-none">
                <h5 class="light-header">
                    Име и фамилия 
                    <img src="~/img/sort/@(nameSortTypeInfo.OrderImg)" class="sort-img" />
                </h5>
            </a>
            @{
                var hourWageSortTypeInfo = getOrderByTypeInfo("hourWage");
            }
            <a href="@getUpdatedQueryString("hourWage", hourWageSortTypeInfo.IsAscending)" class="col-2 mb-auto ml-4 mt-auto text-center text-decoration-none">
                <h5 class="light-header">
                    Лв./час 
                    <img src="~/img/sort/@(hourWageSortTypeInfo.OrderImg)" class="sort-img" />
                </h5>
            </a>
            @{
                var ratingSortTypeInfo = getOrderByTypeInfo("rating");
            }
            <a href="@getUpdatedQueryString("rating", ratingSortTypeInfo.IsAscending)" class="col-3 text-center mt-auto mb-auto text-decoration-none">
                <h5 id="rating-header" class="light-header">
                    Рейтинг 
                    <img src="~/img/sort/@(ratingSortTypeInfo.OrderImg)" class="sort-img" />
                </h5>
            </a>
        </div>
        @foreach (var item in Model.Teachers.Results)
        {
            <div class="mb-2 p-2 row background-container" style="border-radius: 6px;">
                <vc:user-profile-picture picture-path="@item.ApplicationUserPicturePath" is-active="@item.IsActive" email="@item.ApplicationUserEmail">
                </vc:user-profile-picture>
                <p class="col-4 m-auto">
                    @item.ApplicationUserName
                </p>
                <p class="col-2 m-auto">
                    @item.HourWage лв./час
                </p>
                <p class="col-1 m-auto pr-0">
                    @item.AverageRating <img class="mb-1" src="~/img/star.png">
                </p>
                <a asp-area="" asp-controller="Teachers" asp-action="Details" asp-route-teacherId="@item.Id" class="col-2 m-auto btn btn-info">
                    Детайли
                </a>
            </div>
        }
        <vc:paging-navigation paging-data=@(Model.Teachers.PagingData)></vc:paging-navigation>
    </div>
</div>

@section Scripts {
<script src="~/js/Locations/locations.min.js" asp-append-version="true"></script>
}
