@using System.Text
@using Microsoft.Extensions.Options

@model StudentsHelper.Web.ViewModels.Contact.ContactInputModel

<link rel="stylesheet" href="~/css/sitecustom.css">

@{
    this.ViewData["Title"] = "Контакти";
}

<br>

<div class="row text-center">
    <div class="container justify-content-center">
        <div class="col-md-6" style="margin: auto;">
            <div class="form-area">
                <form role="form" method="post">
                    <br style="clear:both">
                    <h6 class="text-purple text-sm-center">ИМАТЕ ВЪПРОС?</h6>
                    <h2>ПИШЕТЕ НИ</h2>

                    <div class="form-group mt-4 mb-4">
                        <input asp-for="@Model.Name" 
                            class="form-control" 
                            placeholder="Име" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                     <div class="form-group mt-4 mb-4">
                        <input asp-for="@Model.Email"
                            value="@User.Identity.Name"
                            class="form-control"
                            placeholder="Имейл" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4 mb-4">
                        <input asp-for="@Model.Title"
                               placeholder="Заглавие"
                               class="form-control" />
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>                   
                    <div class="form-group mt-4 mb-4">
                        <textarea asp-for="@Model.Content"
                                  class="form-control"
                                  type="textarea"
                                  placeholder="Съобщение"
                                  rows="7">
                            </textarea>
                        <span asp-validation-for="@Model.Content" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Изпрати</button>
                </form>
            </div>
        </div>
    </div>
</div>