@using StudentsHelper.Common
@inject StudentsHelper.Services.Time.IDateTimeProvider timeProvider

@model IEnumerable<StudentsHelper.Web.ViewModels.Consultations.TeacherConsultationsViewModel>

@{
    ViewData["Title"] = "Консултации";
}

<div class="position-absolute">
    <a asp-area="" asp-controller="Consultations" asp-action="Calendar" class="btn">
        <img src="/img/calendar-icon.png" alt="Календар" class="img-fluid" style="width: 50px;">
    </a>
</div>

<h1 class="text-center mt-2 mb-4">@ViewData["Title"]</h1>

<div style="box-shadow: 0 1px 3px 0 rgb(0 0 0 / 1%), 0 1px 3px 0 rgb(0 0 0 / 1%), 0 1px 3px 0 rgb(0 0 0 / 22%);">
    <table class="table text-center">
        <tr>
            <th scope="col" colspan="2">Ученик</th>
            <th scope="col">Тема</th>
            <th scope="col">Предмет</th>
            <th scope="col">Начало</th>
            <th scope="col">Продължителност</th>
            <th scope="col">Цена</th>
        </tr>

        @{
            var utcNow = timeProvider.GetUtcNow();
        }
        @foreach (var consultation in Model)
        {
            <tr>
                <td>
                    <vc:user-profile-picture picture-path="@consultation.StudentPicturePath" email="@consultation.StudentEmail"></vc:user-profile-picture>
                    @*<img src=@(consultation.StudentPicturePath ?? GlobalConstants.NoProfilePicturePath) class="img-fluid ml-3 rounded" style="width: 50px; height: 50px;" />*@
                </td>
                <td class="align-bottom"><p>@consultation.StudentName</p></td>
                <td class="align-bottom"><p>@consultation.Reason</p></td>
                <td class="align-bottom"><p>@consultation.ConsultationDetails.SchoolSubjectName</p></td>
                <td class="align-bottom"><p class="startTime">@consultation.ConsultationDetails.StartTime</p></td>
                <td class="align-bottom"><p>@consultation.ConsultationDetails.Duration.ToString(@"hh\:mm")</p></td>
                <td class="align-bottom"><p>@(consultation.ConsultationDetails.FullPrice) лв.</p></td>

                @if (utcNow >= consultation.ConsultationDetails.StartTime && utcNow <= consultation.ConsultationDetails.EndTime)
                {
                    <td class="align-middle">
                        <a class="btn btn-primary" asp-area="" asp-controller="VideoChat" asp-action="VideoChat" asp-route-meetingId="@consultation.ConsultationDetails.MeetingId">Присъедини се</a>
                    </td>
                }
            </tr>
        }
    </table>
</div>

@section Scripts {
<script src="~/moment.js/moment.min.js" asp-append-version="true"></script>
<script src="~/js/Consultation/consultationsDateToLocal.js" asp-append-version="true"></script>
}