@using StudentsHelper.Common
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="author" content="Daniel Yordanov">
    <meta name="description" content="Students Helper има за цел да помогне на учениците с техните домашни, уроци и т.н. Чрез мигновени консултации по конкретна тема от учител, специалист в областта.">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <partial name="_Favicons" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    @await this.RenderSectionAsync("Css", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="app-icon" src="/img/logo.png" alt="@GlobalConstants.SystemName">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mr-3">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Настройки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Общи условия</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderSection("GuestMainPageHeader", required: false)

    <div id="pageBody" class="container">
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
        <partial name="_CookieConsentPartial" />
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
