@using StudentsHelper.Services.Data.Ratings.Models
@model TeacherDetails

<div style="position: absolute;" class="m-3">
    <h5>@Model.HourWage лв/час</h5>
    <a asp-area=""
       asp-controller="Consultations"
       asp-action="BookConsultation"
       asp-route-teacherId="@Model.Id"
       asp-route-returnUrl=@($"{Context.Request.Path}{Context.Request.QueryString}")
       style="font-weight: 600;" class="btn btn-warning p-1">Резервирай час</a>
</div>

<div class="m-3" style="position: absolute; right: 0;">
    <a asp-area=""
       asp-controller="Chat"
       asp-action="StartChat"
       asp-route-teacherUserId="@Model.ApplicationUserId">
        <img id="chat-img" src="/img/chat-icon.png" alt="Chat">
    </a>
</div>

<div class="m-1" style="position: absolute; right: 0; top: 66px;">
    <form asp-area="Favourite"
          asp-controller="FavouriteTeachers"
          asp-action="AddOrRemove"
          asp-route-teacherUserId="@Model.ApplicationUserId"
          asp-route-returnUrl="@($"{Context.Request.Path}{Context.Request.QueryString}")">
        <button id="heart-img-btn" type="submit" class="btn">
            @{
                const string fullHeartImgName = "heart.png";
                const string emptyHeartImgName = "empty-heart.png";
                string currentHeartImg = Model.IsFavourite ? fullHeartImgName : emptyHeartImgName;
            }
            <img id="heart-img" src="/img/favourite/@(currentHeartImg)" alt="Favourite">
        </button>
    </form>
</div>